body {
	background:;
	font-family: roboto;
	margin: auto;
}
.navbar {
	background-color: white;
}
.navbar .navbar-nav img {
	/* width: 100px; */
	display: block;
	max-width: 70px;
	text-align: center;
	}
.navbar-nav{
font-size: 12pt;
}
.navbar-brand img {
	width: 174px;
	height:76px;
}
li{
	display: block;
}
h1 {
	font-size: 10px;
	color: #5f68a0;
}
h2 {
	font-size-adjust: 10px;
}
h3 {

	font-size: 10px;
	}
	 input{
      width: 435px;
      height: 56px;
      text-align: center;
      margin-bottom: auto;

     }
.pagination {
      text-align: center;
      align-items: center;
      border-radius: 2px;
     }
     .produto {
      padding: 20px;
      margin-bottom: 20px;
      align-items: center;
      display: block;
  }
  .col-lg-4 {
        color:#D9DAEB;
        border: 5px;
        height: 400px;
        width: 267px;
     }
      
     form {
      border-radius: 5px;
      text-align: right;
     }
     footer {text-align: center;
      background-color: #29388d;
      height:200px;
      font-family: roboto;
      font-size: 14px;
          }
          .form-control {
          	align-items: left;
          	max-width: 285px;
          	padding: 15px;
          }
          .button-02 {
          	
          }
          section>div>input>button> {
          	align-items: left;
          }

.container img {
  border: solid 2px;
  border-color: blue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }
