body {
	background: ;
	font-family: roboto;
	align-items: center;
}
.navbar {
	background-color: white;
}
.navbar .navbar-nav img {
	width: 70px;
	display: block;
}
.navbar-brand img {
	width: 174px;
	height:76px;
}
.navbar-form {
	align-items: right;
}